<div id="content" class="container_12">
	<div id="" class="grid_8 ">
		<div class="title" id="post-609" style="color: #CD0001;">     
			<!-- Product -->
		</div>
		<div class="post">
			<div>
				<div class="rightheader">How it works</div>
				<img src="images/plan.jpg">
				<br/>
				<br/>
				<p style="text-align:justify"><strong>Group buying approach:</strong> We seek out artisans from different countries that create authentic products and arrange orders through a group buying model where the power of multiple individuals coming together at the time of purchase makes it possible for the artisan's goods to reach the UK and become accessible to consumers.
				<p style="margin-top:10px; text-align:justify"><strong>How we choose:</strong> We select artisans that share our values of quality, authenticity, sustainability and heritage/tradition.
			</div>
		</div>

		<div class="clear"></div>
		<br style="clear: both"></div>
		<div id="" class="grid_4 ">
			<div class="rightheader">The team</div>
			<br>
			<img width="300" src="http://placehold.it/300x200">
			<div class="clear"></div>
			<br>
			<div class="post_sub"><p style="text-align:justify">We started our company together at <a href="http://www3.imperial.ac.uk/business-school">Imperial College Business School</a>. Each of us shares a passion for supporting small food producers and wanted a way to share exciting products we enjoy on our holidays without having to travel back and forth.</p>
			<p style="margin-top:10px; text-align:justify">Our plan is to bring exciting products to the UK market, benefiting the supplier and our customers in a sustainable way. Quality is important to us - so we chose suppliers that we want to work with in the long term. For our customers, we want to be known for excellent service and by the originality of our products.</p>
			<p></p></div>
			<div class="clear"></div>
		</div>
	</div>