<div id="content" class="container_12">
	<div id="" class="grid_8 ">
		<div class="title" id="post-609" style="color: #CD0001;">     
			<!-- Product -->
		</div>
		<div class="post">
			<div>
				<div class="rightheader">Contact</div>
				<br/>
				<p style="text-align:justify"><strong>Email:</strong> <a href="mailto:infofoodiecompass@gmail.com">infofoodiecompass@gmail.com</a></p>
				<p style="margin-top:10px; text-align:justify"><strong>Twitter:</strong> <a href="https://twitter.com/#!/foodiecompass">http://twitter.com/foodiecompass</a></p>
			</div>
		</div>

		<div class="clear"></div>
		<br style="clear: both"></div>
	</div>
