<div id="content" class="container_12">
		<div id="" class="grid_8 ">
			<div class="title" id="post-609" style="color: #CD0001;">     
				<!-- Product -->
			</div>
			<div class="post">
				<div>
					<div class="rightheader">Supplier</div>
					<img src="images/shop_front.jpg">
					<p style="text-align:justify">Nearly 10 years ago, freshly graduated, Karine Carvalho took the decision to share her passion for artisanal chocolate and opened a workshop in Brussels with her friend Sylvie. What difference does it make to be an artisan? Detail-orientation and passion for the products. But also exclusive use of natural high-quality ingredients with no preservatives. Everything is made on the premises. Should you happen to be in Brussels, we strongly recommend to visit the workshop where the magic happens, and enjoy a proper hot chocolate or try the pralines and cakes (chocolate, of course) in the tasting area.</p>
					<img src="images/kitchen1.png">
					<img src="images/kitchen2.png">
					<p style="text-align:justify">Karine now runs a successful business and has become one of the best-known artisanal chocolate maker in Belgium. Just to give you an idea, last year she launched in her workshop, with the Belgian Minister of SME, the 5th annual day of artisans.</p>
					<div class="rightheader">The product</div>
					<p style="margin-top:10px; text-align:justify">Pralines are the signature product of Belgian chocolate (and of Belgian cuisine) - just check <a href="http://travel.nytimes.com/2011/12/25/travel/brussels-the-chocolate-trail.html?nl=travel&emc=tda2&pagewanted=all">this article from the NY Times to see</a> (for those who have read the article: yes, Ma Chocolatière prepares chocolate for Belgians, not for tourists; we know, one of our team lived in Brussels for 25 years).</p>
					<p style="margin-top:10px; text-align:justify">The box contains a selection of pralines, up to a total of 500g of chocolate. </p>
					<p style="margin-top:10px; text-align:justify">Cocoa beans from different origins, South American (Costa Rica, Venezuela, Peru, Ecuador) and Africa (Ghana), are used, mixed or on their own depending on the desired results. </p>
					<p style="margin-top:10px; text-align:justify">How does Karine create her pralines? Instinct, and craving.</p>
					<p style="margin-top:10px; text-align:justify">The combination of different types of chocolate is particularly important in Karine’s pralines since, compared to other mainstream chocolate makers, her pralines tend to be less creamy, and therefore lighter.</p>
					<p style="margin-top:10px; text-align:justify">Let’s have a glimpse at the pralines.</p>
				</div>
			</div>
			
			<div class="clear"></div>
			<br style="clear: both"></div>
			<div id="" class="grid_4 ">
				<div class="rightheader">Header</div>
				<br>
				<img width="300" src="http://placehold.it/300x200">
				<div class="clear"></div>
				<br>
				<div style="text-align:justify" class="rightcontent">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus vel purus enim. Donec mollis, nulla ut ultrices porta, mauris quam feugiat eros, sit amet lobortis urna mi id elit. Pellentesque sit amet augue eget urna facilisis porttitor in porta turpis. In hac habitasse platea dictumst. Duis consectetur sollicitudin dolor, a gravida nisi pulvinar eget. Donec accumsan gravida tellus, nec tristique ante posuere vel. Proin ac dolor ut justo pellentesque tristique vel id leo.</div>
				<div class="clear"></div>

				<div class="clear"></div> 
				
				
			</div>
		</div>
	
	<!--
	<div id="sub" class="container_12">
		<div id="" class="grid_12 ">
			<div class="post" style="height:5px; border-bottom: 1px dotted #B6B6B6;">
			</div>
			<div class="post">
				<div>
					<div class="title" id="post-609" style="color: #008800;">Links</div>
					<p>Here are some sites which we like and recommend:</p>
					<ul>
					  <li><a href="http://travel.nytimes.com/2011/12/25/travel/brussels-the-chocolate-trail.html?nl=travel&emc=tda2&pagewanted=all">Brussels: The Chocolate Trail</a> - an excellent article about the chocolate scene in Brussels - you wil want to buy a EuroStar ticket right away!</li>
					  <li><a href="http://www.chocablog.com/">Chocablog</a> - a London-based chocolate blog - really one of the best out there</li>
					  <li><a href="http://mostlyaboutchocolate.com/">Mostly About Chocolate</a> - Judith posts regularly and is a chocolate judge - nice!</li>
					  <li><a href="http://www.academyofchocolate.org.uk/policemans/blog.html">The Academy of Chocolate</a> - aims to "improve the standard and knowledge of chocolate in the UK", and often arranges events in London</li>
					</ul>
				</div>
			</div>
			<div class="post" style="height:5px;">
			</div>
		</div>
	</div>
	-->